@font-face {
    font-family: 'Pirate';
    src: url('/static/css/police.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pirate', cursive;
    color: white;
    background-image: url(http://localhost:8081/static/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#perso {
    position: absolute;
    top: 2%;
    right: 2%;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
}

#perso:hover {
    transform: scale(1.1);
    letter-spacing: 0.1rem;
}

.txt {
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 83vh;
    width: 30vw;
    border: 2px solid white;
}

#btn {
    margin-top: 1rem;
    background-color: #1E90FF;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0.75rem;
    letter-spacing: 0.1rem;
}

#btn:hover {
    background-color: #09566f;
}

input {
    width: 16rem;
    height: 2rem;
    border-radius: 15px;
}

@media screen and (max-width: 850px) {

    .content {
        height: 70vh;
        width: 50vw;
    }

    input {
        width: 10rem;
        height: 1.2rem;
    }

    #btn {
        margin-top: 0.25rem;
        width: 4rem;
        height: 1.5rem;
    }

    #perso {
        position: absolute;
        top: 2%;
        right: 2%;
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 0.25rem 1rem;
        border-radius: 10px;
        font-size: 0.5rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {

    .content {
        height: 65vh;
        width: 70vw;
    }

    input {
        width: 7rem;
        height: 1.2rem;
    }

    #btn {
        margin-top: 0.25rem;
        width: 4rem;
        height: 1.5rem;
    }
}