{{define "accueil"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <a id="perso" href="/profil">Aventurier</a>

    <form action="/treatment" method="post">
        <div class="txt">
            <h1>GoLanta</h1>
            <div class="container">
                <div class="content">
                    <div class="form-group">
                        <label for="nom">Nom :</label>
                        <input name="nom" type="text" maxlength="20" required>
                    </div>

                    <div class="form-group">
                        <label for="sexe">Sexe :</label>
                        <select name="sexe">
                            <option value="homme">Homme</option>
                            <option value="femme">Femme</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="motivation">Motivation :</label>
                        <input class="big" type="text" name="motivation" maxlength="60" required>
                    </div>

                    <div class="form-group">
                        <label for="personnalite">Personnalité :</label>
                        <input class="big" type="text" name="personnalite" maxlength="60" required>
                    </div>

                    <div class="form-group">
                        <label for="taille">Taille (cm):</label>
                        <input type="number" name="taille" maxlength="3" pattern="[0-9]*" required>
                    </div>

                    <div class="form-group">
                        <label for="poids">Poids (kg):</label>
                        <input type="number" name="poids" maxlength="3" pattern="[0-9]*" required>
                    </div>

                    <div class="form-group">
                        <label for="age">Age :</label>
                        <input type="number" name="age" maxlength="3" pattern="[0-9]*" required>
                    </div>

                    <input id="btn" type="submit" value="Envoyer">
                </div>
            </div>
        </div>
    </form>


</body>

</html>
{{end}}