{{define "profil"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/profil.css">
</head>

<body>
    <div class="txt">
        <h1>Aventurier</h1>
    </div>

    {{ range .PersonnagesData }}
    <div class="perso-content">
        <div class="first-content">
            <h1>{{ .Nom }}</h1>
            <p>Sexe : {{ .Sexe }}</p>
        </div>
        <div class="first-content">
            <p>Motivation : {{ .Motivation }}</p>
            <p>Personnalité : {{ .Personnalite }}</p>
        </div>
        <div class="first-content">
            <p>Taille : {{ .Taille }}</p>
            <p>Poids : {{ .Poids }}</p>
            <p>Age : {{ .Age }}</p>
        </div>
        <div>
            <form action="/supprimer" method="POST">
                <input type="hidden" name="id" value="{{.ID}}">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
    {{ end }}

    <div class="space">
        <a href="/accueil">accueil</a>
    </div>
</body>

</html>
{{end}}